body{
   background-color: blueviolet;
   text-align: center;
   line-height: 100vh;
   margin: 0;
}
button{
   
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
   vertical-align: middle;
   width: 80px;
   height: 400px;
   background-color: white;
   color: black;
}

button.sharp{
   width: 50px;
   background-color: black;
   color: white;
}